<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="./css/index.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
              <li><a href="#">Logo</a></li>
              <li class="group">
                <a href="index.html">Home</a>
                <a href="./about.html">About</a>
                <a href="./contact.html">Contact</a>
              </li>
              <li class="menu dropdown">
                <a class="dropdownbtn" href="#">&#9776;</a>
              <div class="dropdown-content">
                <a href="index.html">Home</a>
                <a href="./about.html">About</a>
                <a href="./contact.html">Contact</a>
              </div> 
            </li>
        </ul>
      </nav>    
    </header>
    <main>
    <h1> <b>My Profile</b> <br></h1>
    <p>
        <b>PROFESSIONAL PROFILE</b> <br>
        <i>Young and articulate graduate with demonstrated strong interpersonal skills, multi-cultured with good reporting, communication and analytical skills, ensuring the ability to work in a highly diversified environment in which keen communication delivery skills is integral, with proven strength in information dissemination, good teaching/lecturing skills, excellent writing skills, with a strong command of English and Hausa Language, and use of Microsoft packages, IoT and Graphic Design.</i>
    </p>
    <p>
        <b>OBJECTIVES</b> <br> 
        To be an active employee who contributes to the mission, vision and values of the organization or Institution of learning, and to interact on a professional level with other employees. To give excellent performance and to translate my experience, knowledge, skills and abilities into values for the organization’s growth.   
    </p>
    <p>
        <b>SKILLS ACQUIRED</b> <br>
    <ul>
        <li>Soft-Skills</li>
        <li>Leadership skills>
        <li>Good communication skills</li>
        <li>Good communication skills</li>
        <li>Microsoft Office Proficient</li>
        <li>Ability to learn fast</li>
        <li>Good research skills</li>
        <li>Conflict resolution skill</li>
        <li>Goals oriented ad focused</li>
        <li>Team work ability</li>
        <li>Inventory control</li>
        <li>Data entry and analysis</li>
        <li>Problems solving skills</li>
        <li>Fluency in English and Hausa Language</li>
        <li>Mentoring/Counselling skills</li>
    </ul>
</p>
<p>
    <b>INSTITUTION ATTENDED WITH DATE</b>   
<ul>
    <li>Institute of Global Peace and Conflict Management - 2023-2024</li>
    <li>Evangelical Theological Seminary an affiliate of A.B.U Zaria & University Jos:	2018-2020</li>
    <li>University of Jos				-	2014-2018</li>
    <li>Evangelical Theological Seminary an affiliate of A.B.U Zaria & University Jos:	2010-2014</li>
    <li>Tari Computer Training College 	-	2013</li>
    <li>Govt. Day Sec. School Didango	-	2002-2008</li>
    <li>Didango Pilot Primary School	-	1997-2002</li>
</ul>		
</p>
</main>
</body>
</html>