<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/index.css" />
    <title>Home</title>
  </head>
<body>
  <header>
    <nav>
        <ul>
          <li><a href="#">Logo</a></li>
          <li class="group">
            <a href="index.html">Home</a>
            <a href="./about.html">About</a>
            <a href="./contact.html">Contact</a>
          </li>
          <li class="menu dropdown">
            <a class="dropdownbtn" href="#">&#9776;</a>
          <div class="dropdown-content">
            <a href="index.html">Home</a>
            <a href="./about.html">About</a>
            <a href="./contact.html">Contact</a>
          </div> 
        </li>
    </ul>
  </nav>    
</header>
    <h1>CONTACT</h1>
    <h3> <b>EMMANUEL BENJAMIN</b> <br>
    Phone no.: 08100480406, <br> 08156640457. <br> Email: benjohemma@gmail.com <br>
    <b><Address</b>Address: Didango Old Muri Karim Lamido LGA Taraba State <br>
    </h3>
</main>

</body>