<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/index.css" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <nav>
          <ul>
            <li><a href="#">Logo</a></li>
            <li class="group">
              <a href="index.html">Home</a>
              <a href="./about.html">About</a>
              <a href="./contact.html">Contact</a>
            </li>
            <li class="menu dropdown">
              <a class="dropdownbtn" href="#">&#9776;</a>
            <div class="dropdown-content">
              <a href="index.html">Home</a>
              <a href="./about.html">About</a>
              <a href="./contact.html">Contact</a>
            </div> 
          </li>
      </ul>
    </nav>    
  </header>
  <main>
    <h1>My Resume</h1>
    <p>Passionate and experience Lecturer with a love for impacting knowledge to students in academic institutions. Adept in developing a lecture based on university and any higher institutions bench mark. Able to facilitate powerful learning experiences, familiar with educational philosophies, aimed at supporting students in tertiary education academically, emotionally and socially. Bringing forth dedication, hard work, skill and desire to positively contribute to the development of students.
    </p>
    <h2>EMPLOYMENTS/PROFESSIONAL WORK EXPERIENCE</h2>
    <p><b>Institution/Organization Name 1.: </b>Evangelical Theological Seminary Kaltungo an affiliate of ABU Zaria and Unijos <br>
        <b>Role/Position : </b>Graduate Assistant Lecturer <br>
        <b>Activities/Experiences:</b>
        <ul>
            <li>Supervised students’ research papers and projects.</li>
            <li>Developed and revised curricula, course content, course materials and method of instructions.</li>
            <li>Administered, supervised and graded examination.</li>
            <li>Prepared and delivered lectures to undergraduate or graduate students on courses such as: curriculum and instruction, world religions, history and philosophy of science, missionary enterprise, Bible doctrine, philosophy of religion among others.</li>
            <li>Prepared and delivered lessons in Bright Way Academic Boh, Shongom LGA, and Kilang High School Kaltungo LGA all in Gombe State.
        </li>
        <li>Published a book titled “Obstacles to Self-realization.” </li>
        </ul>   
        <b>Order Instituions</b> <br>
        <ul>
            <li> Bright Way Academic Boh, Shongom LGA, and Kilang High School Kaltungo LGA all in Gombe State.</li>
            <li>Kilang High School Okra Kaltungo LGA, Gombe State</li>
            <li>Taraba State Ministry of Education</li>
            <li>Federal College of Education, Yola. Adamawa State</li>
        </ul> 
    </p>
    <h2>EDUCATIONAL QUALIFICATIONS OBTAINED</h2>
    <p> 
        <ul>
            <li>Masters of Arts Guidance and Counselling</li>
            <li>Bachelor of Arts Education (Religion)</li>
            <li>Bachelor of Religion Education</li>
            <li>Diploma in Computer Application</li>
            <li>Secondary School Certificate (NECO)</li>
            <li>Secondary School Certificate (NABTEB)</li>
            <li>First School Leaving Certification</li>
        </ul>
 
        </p>
    <h2>PROFESSIONAL CERTIFICATIONS</h2>
    <P>
        <ul>
            <li>Certified Teacher, Teacher Registration Council of Nigeria (TRCN)</li>
            <li>Certified Computer Operator</li>
            <li>Certified Google Ads Display </li>
            <li>Certified by World Health Organization</li>
            <li>Certified Counsellor - CASSON</li>
            <li>Certified Peace and Conflict Resolutor</li>
            <li>Certified Mentor - Tony Elumelu Foundation (TEF)</li>
        </ul>
    </P>
  </main>
  <footer>(c) 2024 - Benjamin Emmanuel @ YouthRive Cohort 1</footer>
</body>
</html>